*{
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
 list-style: none;
 margin: 0;

 color: rgb(196, 190, 190);
 h1,  h2 {
    color: white;
    
}
}

.hide{
    display: none;
}

.gradient-col{
   background: linear-gradient(
  to top right,
  #fff04a 0%,
  #ff6ec7 40%,
  #ff2db2 60%,
  #8a2be2 100%
  );
}

.header{
    background-color: #1A0B2E;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(113, 17, 151, 0.2);
   
   
}

.nav-container{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin: auto 200px;
    align-items: center;
    
}

.Tech-cont{
    font-size: larger;
    font-weight: bolde;
}

.wave{
   background: linear-gradient(
  to top right,
  #fff04a 0%,
  #ff6ec7 40%,
  #ff2db2 60%,
  #8a2be2 100%
  );
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.header ul {
     display: flex;
     gap: 20px
}
.nav-opt{
    color: white;
}

.btn-container{
 
}
.btn-container button{

    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.intro-container{
    background-image: url("image/hero-bg.png"); /* path to your image */
    background-size: cover;   /* makes image cover full div */
    background-position: center; /* centers image */
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: white;

   

}

.logo-container{
   
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
      color: white;

}


.image-container{
    position: relative; 
}

.img-front {
    position: absolute;
    margin-top: 100px;
    margin-left: -245px;
    
}

.new-btn{
    background: #00FF88;
    color: #1A0B2E;
    position: absolute;
    font-size: 25px;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    margin-left: -90px;
    margin-top: 20px;
    box-shadow: 0 0 10px #00ff99;
 

}

.circle{
    width: 370px;
}

.logo-container h1{
    font-size: 80px;
}

.btn-container-2{
   padding: 20px;
   display: flex;
   align-items: center;
   gap: 5px
    
    
}

.btn-container-2 button{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    
    gap: 5px;
    font-size: 17px;
}

.btn1{
    border-radius: 30px;
    border: none;
    color: white;
}

.btn2{
    background: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    border-radius: 30px;
    
}

.intro-details{
    background:#1A0B2E;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
      color: white;
}

.detals-cont{

    margin: 20px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgba(113, 17, 151, 0.2);
    text-align: center;
    padding: 0 200px;
    padding-bottom: 80px;
    

}

.into-rating{
    
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.rating{
    font-size: 20px;
}

.rating h1{

    color: #00ff99;
}

.rating p{
    color: white;
    font-size: small;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background: #1d0c33;  
    color: rgb(196, 190, 190);
    padding: 60px 130px;
    gap: 40px;


}

.banner-card-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 250px);
     gap: 30px

}

.card-colo{
    background: #351165;
    border-radius: 40px;
    padding: 50px 30px;
    line-height: 1.6;
    
}

#card1{
    grid-column: span 1;
    grid-row: span 2;
    padding-top: 100px;
}
#card23{
    grid-column: span 2;
    grid-row: span 1;
} 

#card4{
     grid-column: span 2;
     grid-row: span 1;
}

.banner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1A0B2E;
    color: white;
    gap: 50px;

}

.featured-epp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 70px;


}

.feat-card-cont{
    display: flex;
    gap: 30px;
    
}

.my-card{
    background-color:#351165;
    display: flex;
    flex-direction: column;
    width: 380px;
    border-radius: 30px;
    
}
.card-text{
    margin: 20px;
    line-height: 1.6;
    color: rgb(196, 190, 190);
    padding-right:20px;
}

.card-text h2{
    color: white;
    line-height: 1;
}

.rec{

    position: relative;
}

.youtube{
    position: absolute;
    margin-left: -220px;
    margin-top: 90px;
    cursor: pointer;
}

.video iframe{
    border-radius: 30px 30px 0 0;
}









.meet-the-host{
    margin: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meet-body{
    display: flex;
    align-items: center;
    gap: 20px;
    background: #351165;
    margin-top: 30px;
    border-radius: 50px;
    padding: 40px;
    color: rgb(196, 190, 190);
}

.meet-body h1{
    color: white;
}
.host{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
}

.host-img{
    display: flex;
    gap: 10px;
    

}
.host-img img{
    border: 2px solid  rgba(171, 86, 141, 0.2) ;
    border-radius: 50%;
    padding: 10px;
}




footer{
    background-image: url(image/footer-bg.png);
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
    gap: 20px;
    color: white
}

.footer-container h1{
     font-size: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.footer-container ul{
    display: flex;
    gap: 50px;
    align-items: center;
    color: rgb(196, 190, 190);
}
.footer-container ul li{
     display: flex;
    gap: 10px;
    align-items: center;
    
    
}
.copy{
        color: rgb(196, 190, 190);
}


.hum{
position: relative;
display: flex;
justify-content: end;
margin-right: 10px;
align-items: center;
margin-top: -25px;
display: none;

}










@media screen and (max-width: 576px) {

.hum{
position: relative;
display: flex;
justify-content: end;
margin-right: 10px;
align-items: center;
margin-top: -25px;

}




.btn-container-2 button {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 5px;
    font-size: 12px;
}


.btn-container-2{
    gap: 15px;
}

.nav-container {
    margin: 0;
    align-items: start;
}

.header ul , .btn-container button{
    display: none;
}

.circle{
    width: 290px;
}  

.img-front{
    margin-top: 80px;
    margin-left:-190px;
    width: 90px;
}
.btn1{
   display: none;
}
    
.logo-container h1{
      font-size: 40px;
}
.logo-container p{
    font-size: medium;
    text-align: center;
}

.detals-cont {
    margin: 100px 20px 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.into-rating{
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 30px;
   
    
}


.banner-card-container{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.banner-head h1{
     font-size: 25px;

    width: 300px;
    margin-left: 15px;
}

.banner2{
    gap: 0;
   
}




.feat-card-cont {
    flex-direction: column;
}
.meet-body{
    flex-direction: column;
}





.footer-container h1 {
    font-size: 50px;
   
}

.footer-container{
    padding: 40px;
}

.footer-container ul{
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}

.copy{
    margin-top: -20px;
}


    
}





    