*{
 font-family: 'Montserrat', sans-serif;
 text-decoration: none;
 list-style: none;
 margin: 0;
}

.hide{
    display: none;
}

.gradient-col{
   background: linear-gradient(
  to top right,
  #fff04a 0%,
  #ff6ec7 40%,
  #ff2db2 60%,
  #8a2be2 100%
  );
}

.header{
    background-color: #1A0B2E;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(113, 17, 151, 0.2);
   
   
}

.nav-container{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin: auto 200px;
    align-items: center;
    
}

.Tech-cont{
    font-size: larger;
    font-weight: bolde;
}

.wave{
   background: linear-gradient(
  to top right,
  #fff04a 0%,
  #ff6ec7 40%,
  #ff2db2 60%,
  #8a2be2 100%
  );
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}

.header ul {
     display: flex;
     gap: 20px
}
.nav-opt{
    color: white;
}

.btn-container{
 
}
.btn-container button{

    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.intro-container{
    background-image: url("image/hero-bg.png"); /* path to your image */
    background-size: cover;   /* makes image cover full div */
    background-position: center; /* centers image */
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: white;

   

}

.logo-container{
   
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
      color: white;

}


.image-container{
    position: relative; 
}

.img-front {
    position: absolute;
    margin-top: 100px;
    margin-left: -245px;
    
}

.new-btn{
    background: #00FF88;
    color: #1A0B2E;
    position: absolute;
    font-size: 25px;
    padding: 8px 15px;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    margin-left: -90px;
    margin-top: 20px;
    box-shadow: 0 0 10px #00ff99;
 

}

.circle{
    width: 370px;
}

.logo-container h1{
    font-size: 80px;
}

.btn-container-2{
   padding: 20px;
   display: flex;
   align-items: center;
   gap: 5px
    
    
}

.btn-container-2 button{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    
    gap: 5px;
    font-size: 17px;
}

.btn1{
    border-radius: 30px;
    border: none;
    color: white;
}

.btn2{
    background: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    border-radius: 30px;
    
}

.intro-details{
    background:#1A0B2E;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
      color: white;
}

.detals-cont{

    margin: 20px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgba(113, 17, 151, 0.2);
    text-align: center;
    padding: 0 200px;
    padding-bottom: 80px;
    

}

.into-rating{
    
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.rating{
    color: #00ff99;
    font-size: 20px;
}

.rating p{
    color: white;
    font-size: small;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background: #1d0c33;  
    color: aliceblue;
    padding-top: 60px;

}

.banner-card-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
}

.card-colo{
    background: #351165;
}



    